<style>
body  {
    background-image: url("http://reduct.bagwanpankaj.com/assets/img/post_it.jpg");
    background-color: #cccccc;
}

.formtext {
  margin: auto;
  width: 60%;
  padding: 10px;
  margin-left: 500px;
  margin-right: 350px;
}

</style>
<p>Sign up <%= link_to "here","#" %>.</p>
  <title>SearchYourNotes</title>
<body>
 <div class="formtext">
 <h2> Search your notes here! </h2>
 <p>(submit empty form to get all notes)</p>
 <form action='/search' method='GET'>
           <input type='text' name='query'>
           <p><input type='Submit'></p>
           </form>
         </div>

</body>
