<style>
body {
    background-image: url("http://reduct.bagwanpankaj.com/assets/img/post_it.jpg");
    /*background-color: #cccccc;*/
}

body {
    font-family: 'Oswald', sans-serif;
    color: #fff;
    background-color: #000;
}

h1 {
    font-size:34px;
    color:white;
    padding:8px;
    border:solid 3px white;
    letter-spacing:7px;
    display:inline;
    filter:glow(color=black, strength=1); /* IE9 stupid proprietary shadow */
}

</style>
<div class="jumbotron center">
    <h1>About Us</h1>
<br>
<br>
<img class="img-circle" src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcRz06wqlHDoPASnnQy3Jtjt5dRLi3HTeR_anagX3m1t65j8TakdDQ" style="width:128px;height:128px;">
Vince was born in Sacramento,California and hates Chicago
<br>
Dongmin was born in Korea and loves Chicago
<img class="img-circle" src="https://avatars1.githubusercontent.com/u/15134605?v=3&s=400" style="width:128px;height:128px;">
</div>



